:root{
    --primary-text-color:#757575;
    --second-text-color:#ffffff;
    --primari-title-color:#212121;
    --second-title-color:#ffffff;
    --accent-color:#2196F3;
    --primery-bg-color:#ffffff;
    --second-bg-color:#F5F4FA;
    --third-bg-color:#2F303A;
    --addres-second-color:rgba(255, 255, 255, 0.6);
    --second-logo-color:#000000;
    --third-logo-color:#FFFFFF;
}
body{
font-family: 'Roboto', sans-serif;
}
/* logo */
.logo{font-family: 'Raleway', sans-serif;}
.logo-web{color: var(--accent-color);}
.logo-studio-black{color: var(--second-logo-color);}
.logo-studio-white{color: var(--third-logo-color);}

/* header */
.nav-link{color: var(--primari-title-color);}
.nav-link.current{color: var(--accent-color);}
.nav-link:hover,.nav-link:focus{color: var(--accent-color) ;}
.contacts-head{color: var(--primary-text-color);}
.contacts-head:hover,.contacts-head:focus{color: var(--accent-color);}

/* footer */
.footer{background-color: var(--third-bg-color);}
.town{color: var(--second-text-color);}
.mail-link{color: var(--addres-second-color);}
.tel-link{color: var(--addres-second-color);}

/* main index */
/* hero */
.hero{background-color: var(--third-bg-color);}
.main-title{color: var(--second-title-color);}
.hero-button{background-color: var(--accent-color);
    color: var(--second-text-color) ;}
/* our-features */
.our-features-hiddentitle{color: rgba(255, 255, 255,0);}
.our-features-subtitle{color: var(--primari-title-color);}
.our-features-text{color: var(--primary-text-color);}
/* specialization */
.specialization-title{color: var(--primari-title-color);}
/* team  */
.team{background-color: val(--second-bg-color);}
.team-title{color: var(--primari-title-color);}
.team-subtitle{color: var(--primari-title-color);}
.team-text{color: val(--primary-text-color);}