:root{
    --primary-text-color:#757575;
    --primari-title-color:#212121;
    --accent-color:#2196F3;
    --primery-bg-color:#E5E5E5;
    --second-bg-color:#F5F4FA;
    --third-bg-color:#2F303A;
    --addres-second-color:rgba(255, 255, 255, 0.6);
    --second-logo-color:#000000;
}
body{
font-family: 'Roboto', sans-serif;
}
/* header */
.logo{font-family: 'Raleway', sans-serif;}
.logo-web{color: var(--accent-color);}
.logo-studio{color: var(--second-logo-color);}

